



    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header" style = "background: url(<%= asset_path('intro-bg.jpg') %>) no-repeat center center;">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                    <h1><strong>UNIBOOK</strong></h1>
                        <h3>教科書を安く買おう</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                             <%= link_to "新規登録", new_user_registration_path, class: "btn btn-default btn-lg fa fa-twitter fa-fw"  %>
                 <!-- 
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">新規登録</span></a> -->
                            </li>
                            <li>
                             <%= link_to "ログイン", new_user_session_path, class: "btn btn-default btn-lg fa fa-twitter fa-fw"  %>
                                <!-- <a href="#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">ログイン</span></a> -->
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

  <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">UNIBOOKとは？</h2>
                    <p class="lead">中大生のための教科書フリマサービスです。もう後輩に教科書をあげる必要も、高い教科書を新しく買う必要なんてありません。UNIBOOKは教科書を売りたい上級生と教科書を買いたい下級生が繋げ、取引をすることが出来ます。</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <%= image_tag  "bg.jpg", class: "img-responsive" %>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">UNIBOOKの特徴</h2>
                    <p class="lead">中央大学生のためのサービスです。売りたい人は出品して連絡を待つだけ、買いたい人は欲しい教科書を選ぶだけでメッセージでやりとりをすることが出来ます。同じ大学に通うので授業に行ったついでに直接取引も可能！授業の内容を先輩から教えてもらえるなんてことも！</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">

                    <%= image_tag  "ipad.png", class: "img-responsive" %>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">手数料が全て０円！</h2>
                    <p class="lead">簡単に取引することができるだけではありません。出品・購入はもちろん売れた時も手数料は無料！商品の送る方法から価格まで、あなただけの出品ができます。</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                     <%= image_tag  "portfolio-1.jpg", class: "img-responsive" %>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

  <a  name="contact"></a>
    <div class="banner" style="background: url(<%= asset_path('banner-bg.jpg') %>) no-repeat center center;">


        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>教科書を安く手にいれよう！</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-default btn-lg fa fa-twitter fa-fw"  %>
                          <!--   <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">新規登録</span></a> -->
                        </li>
                        <li>
                          <!--   <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">ログイン</span></a> -->
                            <%= link_to "ログイン", new_user_session_path, class: "btn btn-default btn-lg fa fa-twitter fa-fw"  %>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->