



<div class="center-block">
  <div class="top_header_show">

    <div class="container">
      <div class="row" style="text-align: center">
        <div class=".col-xs-6 .col-xs-offset-2">
          <div class="thumbnail">
            <%= image_tag  @products.image_url %>
            <div class="caption">
              <h3>大学名:<%= @products.univercity %></h3>

              <h3>教科書名 : <%= @products.text_name %></h3>
              <h3>教授名 : <%= @products.professor %></h3>
              <h3>価格　: <%= @products.price %></h3>
              <h3>商品詳細 : <%= @products.detail %></h3>
              <h3>学部名 : <%= @products.faculty %></h3>
              <h3>配送負担 : <%= @products.sent_price %></h3>
              <h3>配送方法 : <%= @products.sent_method %></h3>

              <p><a href="#" class="btn btn-primary" role="button">購入する</a></p>
              <h2><%= link_to "出品者情報はこちら！", user_path(@products.user) %></h2>
             <!--  <%= link_to "詳細を見る", "#" , class: "btn btn-primary", role: "button"%>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>


<!--  <p>%= link_to '購入する', hogehoge_path(buyer_id: 15, seller_id: 41)
 -->