<div class="top_header">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-md-offset-7">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    ユーザー情報</div>
                      <div class="panel-body">

                      <!--   <%= form_for @products do |f| %>
                        <h2>出品情報</h2>
                          <div class="form-group">
                            <div class="col-lg-12">
                             <p>教科書画像</p>
                                <div class="form-group file">
                                  <%= f.file_field :image_url, class: "form-control floating-label", placeholder: "画像アップロード" %>
                                </div>
                              </div>


                      <div class="col-lg-12">
                        <p>値段</p>
                           <%= f.text_field :price, placeholder: "値段", class: "form-control" %>
                      </div>

                           <div class="col-lg-12">
                             <p>学部名</p>
                               <%= f.text_field :major, placeholder: "学部名", class: "form-control" %>
                          </div>



                            <div class="col-lg-12">
                              <p>教授名</p>
                               <%= f.text_field :professor, placeholder: "教授名",  class: "form-control" %>
                           </div>


                           <div class="col-lg-12">
                              <p>詳細</p>
                               <%= f.text_field :detail, placeholder: "商品詳細",  class: "form-control" %>
                           </div>

                             <div class="col-lg-12">
                              <p>発送方法</p>
                               <%= f.text_field :sent, placeholder: "発送の方法を選択してください",  class: "form-control" %>
                           </div>

                            <div class="col-lg-12">
                              <p>送料負担</p>
                               <%= f.text_field :sentprice, placeholder: "送料負担" , class: "form-control" %>
                           </div>




                            <%= f.submit "出品する", class: "btn btn-primary withripple maipe-ji" %>
                          </div>


                       <% end %> -->


                      </div>


                      <div class="panel-footer">
                      </div>
              </div>
          </div>
      </div>
  </div>

</div>

