
<div class="center-block">
<div class="top_header_product">
  <div class="container">
      <div class="row">
         <div class=" .col-xs-6 .col-xs-offset-3">

              <div class="panel panel-default">


         <div class="col-md-12">
                    <% @products.each do |product|%>

         <div class="col-md-4">
                     <div class="row">
                    <!--   <div class="col-sm-6 col-md-4"> -->
                        <div class="thumbnail">
                         <%= image_tag  product.image_url %>
                          <div class="caption">
                          　<h4>大学:<%= product.univercity %></h4>
                            <h4>教科書:<%= product.text_name %></h4>
                            <h4>教授:<%= product.professor %></h4>
                            <p>値段:<%= product.price %>円</p>
                            <p><%= link_to "詳細を見る",   science_path(product.id) , class: "btn btn-primary", role: "button"%></p>
                          </div>
                        </div>
                      </div>


                    </div>

                 <% end %>

                        </div>
                      <%= paginate(@products) %>
                   </div>

              </div>

          </div>
      </div>


</div>

  </div>

